@media screen and (min-width: 601px) {
  .page-wrapper {
    margin: 10px;
    margin: auto;
    background-color: green;
    max-height: 95vh;
    max-width: 95vw;
    font-size: .80vw;
  }
  .header{
  font-size: .62vw;
  }


}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .page-wrapper {
    margin: 10px;
    margin: auto;
    background-color: F4F4F4;
    max-height: 95vh;
    max-width: 95vw;
    font-size: .05vw;
  }
  .header{
  font-size: .62vw;
  }

}

body {
  background-color: F4F4F4;
  font-family: 'Avenir Black', 'Arial Black', serif;
}

ul {
 list-style-type: none;
}
li{
  margin: 10px;
}

a:link {
  color: 446afa;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: 8b0000;
}

.header{
  text-align: center;
  margin-bottom: 20px;
}

.column_head{
  margin-bottom: 25px;
  text-align: center;
  background-color: d3d3d3;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px;
}
.column {
  text-align:left;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding:0 15px;
  min-width: 450px;
}

.white-column {
   background: e5e2e1;
}
